.hide {
    display: none;
}
.cursor-pointer{
    cursor: pointer;
}
.data{
    display: inline-block;
    margin-left: 60px;
}
.dataInput{
    height: 30px;
}
.dataInput.text{
    width: 500px;
}
.dataInput.date{
    width: 155px;
}
.dataInput.select{
    width: 80px;
}
.dataInput.textarea{
    width: 500px;
    height: 40px;
    resize: none;
}
.row.rel{
    position: relative;
}
.row.rel>span{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}
.timeLine>ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 60px;
}
.timeLine>ul>li {
    list-style: none;
    text-align: right;
    height: 30px;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}
.calendar {
    height: 500px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.calendarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.calendarTable, table.dayTable, #paintArea {
    width: 100%;
    height: 100%;
}
.scrollbox{
	height: 490px;
	overflow: scroll;
}
.attTable{
    display: inline-block;
    border: 1px solid lightgray;
}
.attTable>.thead{
    background-color: lightgray;
}
.attContainer{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.attContainer>*{
    font-size: 0.75rem;
}
.attContainer>.attTitle{
    font-size: 1rem;
    font-weight: bold;
}
.attContainer>.attBtn{
    cursor: pointer;
    width: 80px;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    border-radius: 15px;
}
.attContainer>.attBtn:disabled{
    cursor: default;
    opacity: 0.4;
}
.attTable{
    display: inline-block;
    border: 1px solid lightgray;
}
.attTable>span, .attContainer>.attTitle{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
}
.attTable>.thead{
    background-color: lightgray;
}

.vacTable{
	font-size: 14px;
}